@{
    ViewBag.Title = "Home Page";
}

Wzywany numerek:
@ViewBag.CzyPobrany
@ViewBag.CzyPobrany3
<hr />


<div id="numerek">

</div>

<script>
    var inter = setInterval(ttt, 2000);
    var licznik = 0;
    var czyPobrany = "True";
    function ttt() {
        console.log("######################################################################");
        console.log("Interval nr " + licznik++);

        $.ajax({
            url: "/Home/WyswietlNumerek",
            success: function (html) {
                $("#numerek").html(html);
            },
        });

        $.ajax({
            url: "/Home/CzyPobrany",
            success: function (html) {
                czyPobrany = html;
                console.log("html = " + czyPobrany);
                console.log("html type = " + typeof (czyPobrany));

                console.log("czyPobrany = " + czyPobrany);
                console.log("czyPobrany type = " + typeof (czyPobrany));

                if (czyPobrany == "True") {
                    clearInterval(inter);
                    console.log("TimeOut");
                    setTimeout(function () { inter = setInterval(ttt, 2000); console.log("After TimeOut"); }, 15000);
                }
            },
        });
    }
</script>