@using Poczekalniav1.Models;
@model List<ProszonyPacjentModel>
<hr />
@foreach (ProszonyPacjentModel item in Model)
{
    <div style="background: #00ff21;
-moz-box-shadow: 5px 5px black;
-webkit-box-shadow: 5px 5px black;
box-shadow: 5px 5px black;
text-align: center;
width:300px">

        <div>
            @item.NUMER_DZIENNY
        </div>
        <div>
            Gabinet: @item.GABINET_NAZWA
        </div>
    </div>
}
<hr />
