@using Poczekalniav1.Models;
@model ProszonyPacjentModel
@{
    if (Model != null)
    {
        <div class="kontenerKafelka">
            <div class="wycentrujWertykalnie">
                <div class="kafelekNumerka">
                    <div class="numerPacjenta">
                        @Model.NUMER_DZIENNY
                    </div>
                    <div class="nazwaGabinetu">
                        @Model.GABINET_NAZWA
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        
    }
}