html {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    background: #e5e5e5;
}

.body-bgimage {
    height: 100%;
    background-image: url(Images/medikor-logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table tr td {
    vertical-align: 0;
    line-height: 0;
    padding: 5px;
}

    table tr td label {
        line-height: 0;
    }

.wycentrujWertykalnie {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.oknoOpcjiAktywne {
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

/*<div id="layoutContainer" style="">

    <div style="color:wheat;padding:20px">
        <div id="kolejka-header">
            Kolejka do wezwania: 
        </div>
        <div id="kolejka">
            <div class="mini-numer-kontener">
                <div class="mini-numer-zawartosc">
                    <div class="mini-numer-numerPacjenta">Numer: 20</div>
                    <div class="mini-numer-nazwaGabinetu">Gabinet: NFZ Ginekolog</div>
                </div>
            </div>
        </div>
    </div>

</div>*/

#layoutContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#kolejka-container {
    display: flex;
}

#KolejkaWzywanychPacjentow {
    flex-grow: 1;
    margin-right: 10px;
}

    #KolejkaWzywanychPacjentow:last-child {
        margin-right: 0px;
    }

#kolejka-header {
    padding: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}

.mini-numer-kontener {
    margin: 20px;
    background-color: green;
    text-align: center;
    padding: 20px;
    color: white;
}


#OpcjeWindow {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#OpcjeWindowKontener {
    position: relative;
    background-color: white;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 150px 10px;
    border-radius: 10px;
    height: 60%;
    overflow-y: auto;
}

#OpcjeWindowZawartosc {
    padding: 10px 30px 30px;
}

.opcjeZawartoscZakladki {
}

@keyframes animacjaNumerka {
    0% {
        -moz-filter: brightness(2);
        -ms-filter: brightness(2);
        -webkit-filter: brightness(2);
        filter: brightness(2);
    }

    50% {
        -moz-filter: brightness(1);
        -ms-filter: brightness(1);
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }

    100% {
        -moz-filter: brightness(2);
        -ms-filter: brightness(2);
        -webkit-filter: brightness(2);
        filter: brightness(2);
    }
}

#numerek {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

.kontenerKafelka {
    background: linear-gradient(to bottom, #0c366b 0,#144e98 100%);
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 0px;
    color: azure;
    font-size: 100pt;
    animation-name: animacjaNumerka;
    animation-duration: 700ms;
    animation-iteration-count: 10;
}

.kafelekNumerka {
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.numerPacjenta {
    font-size: 200pt;
    font-weight: bold;
}

.nazwaGabinetu {
    font-size: 60pt;
}
